@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Rubik&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Joan&family=Lato:wght@300&family=Pacifico&family=Roboto:wght@100;300;400;700&family=Rubik&display=swap');

*{
    font-family: 'Rubik', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Joan', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/*----------------------------------------------------*/

body{
    background-color: rgba(70, 70, 70, 0.463);
}

.counterD{
    display: block;
    position: relative;
    height: 400px;
    width: 500px;
    background-color: rgba(56, 53, 53, 0.539);
    top: 50px;
    margin: auto;
    border-radius: 5px;
}
.heading{
    position: relative;
    height: 100px;
    background-color: rgba(13, 96, 13, 0.644);
}
.heading h1{
    position: relative;
    text-align: center;
    color: white;
    font-weight: bold;
    top: 25px;
}
.counter{
    height: 100px;
    background-color: rgba(255, 255, 255, 0.678);
    position: relative;  
}
.counter input{
    position: relative;
    top: 30px;
    left: 20px;
}

#date{
    width: 200px;
    height: 40px;
    border-radius: 5px;
}
#time{
    width: 120px;
    height: 40px;
    border-radius: 5px;
}
#submit{
    width: 130px;
    height: 40px;
    border-radius: 5px;
}
#submit:hover{
    background-color: rgba(26, 63, 26, 0.703);
    color: white;
    border: 2px solid green;
}
.hr{
    height: 1px;
    color: black;
    background-color: transparent;
   
}

.alert{
    position: inherit;
    top: 18px;
    left: 1px;
    color: rgb(179, 35, 35);
   
    height: 20px;
    width: 400px;
    
    align-items: center;
}
.output{
    display: block;
    height: 168px;
    width: 500px;
    background-color: rgba(168, 168, 168, 0.573);
}

table{
    width: 100%;
    margin-left: 25px;
    
    
 }

 thead{
    font-size: 30px;
 }
 tbody{
    font-size: 20px;
    
 }

